.login-register {
  height: 768px;
  background-image: url("../../../assets/lazy-leopard-hd-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

