<div id="filter" class="container">
  <h3>控制面板</h3>
  <!--查询控制-->

  <div class="input-ctrl-group">
    <section class="selector">
      <label for="typeselect">账户类型：</label>
      <select
        [(ngModel)]="filter.type" id="typeselect" (change)="search()">
        <option value="" selected="selected"></option>
        <option *ngFor="let accountType of accountTypeList" value="{{accountType.pk}}">
          {{accountType.fields.type}}
        </option>
      </select>
    </section>

    <section class="selector">
      <label for="login_to">登陆到哪里：</label>
      <input type="text" id="login_to"
             [(ngModel)]="filter.login_to" (keyup)="search()">
    </section>
    <section class="selector">
      <label for="search_term">Search：</label>
      <input type="text"
             id="search_term"
             class="mr-sm-2"
             [(ngModel)]="filter.search_term" (keyup)="search()">
    </section>
    <section class="selector">
      <label for="page_size">每页显示：</label>
      <select [(ngModel)]="filter.page_size" id="page_size" (change)="search()">
        <option value="5">5</option>
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </section>
  </div>

  <div class="btn-group">
    <button class="btn btn-sm btn-success selector" (click)="reset()">重置过滤器</button>
    <button class="btn btn-sm btn-success selector" (click)="addAccount()">新增账户</button>
  </div>

</div>

<table class="table table-striped table-hover">
  <tr><th>ID</th><th>用户名</th><th>密码</th><th>登陆到</th><th>备注描述</th><th>类型</th><th>控制组</th></tr>
  <tr *ngFor="let account of account_list | async | paginate: { id: 'server', itemsPerPage: filter.page_size, currentPage: filter.page, totalItems: count }">
    <td>{{account.pk}}</td>
    <td>{{account.fields.username}}</td>
    <td><button class="btn btn-sm btn-primary" (click)="copyToClipBoard(account.fields.password)">点我复制</button></td>
    <td>{{account.fields.login_url}}</td>
    <td>{{account.fields.desc}}</td>
    <td>{{account.fields.type}}</td>
    <td>
      <span class="glyphicon glyphicon-edit ctrlbutton">编辑</span>
      <span class="glyphicon glyphicon-remove ctrlbutton">删除</span>
    </td>
  </tr>
</table>
<div class="has-text-centered">

  <pagination-controls id="server" (pageChange)="filter.page = $event;search()"></pagination-controls>

</div>
