<div class="modal-header">
  <button class="close" (click)="activeModal.dismiss('Cross click')">
    <span>x</span>
  </button>
  <h4 class="modal-title">Account Update</h4>
</div>

<div class="modal-body">
  <form [formGroup]="accountForm">
    <div class="form-group"
         [class.has-success]="accountForm.get('username').valid"
         [class.has-danger]="accountForm.get('username').errors && accountForm.get('username').touched">

      <label for="username" class="form-control-label">账户名称：</label>
      <input formControlName="username"
             [class.form-control-success]="accountForm.get('username').valid"
             [class.form-control-danger]="accountForm.get('username').errors && accountForm.get('username').touched"
             id="username" class="form-control">
      <div *ngIf="accountForm.get('username').hasError('minlength')"
           class="form-control-feedback">
        要求最小长度{{usernameMinLength}}
      </div>
      <div *ngIf="accountForm.get('username').hasError('maxlength')"
           class="form-control-feedback">
        限制最大长度{{usernameMaxLength}}
      </div>
    </div>

    <div class="form-group"
         [class.has-success]="accountForm.get('password').valid"
         [class.has-danger]="accountForm.get('password').errors && accountForm.get('password').touched">

      <label for="password" class="form-control-label">账户密码：</label>
      <span><button class="btn btn-sm" type="button"
                    (click)="passwordInputTypeToggle()">{{inversePasswordInputType}}</button></span>
      <span><button class="btn btn-sm" type="button"
                    (click)="generatePassword()">生成随机密码</button></span>
      <input id="password" class="form-control" [type]="passwordInputType"
             formControlName="password"
             [class.form-control-success]="accountForm.get('password').valid"
             [class.form-control-danger]="accountForm.get('password').errors && accountForm.get('password').touched"
      >
      <div *ngIf="accountForm.get('password').hasError('minlength')"
           class="form-control-feedback">
        要求最小长度{{passwordMinLength}}
      </div>
      <div *ngIf="accountForm.get('password').hasError('maxlength')"
           class="form-control-feedback">
        限制最大长度{{passwordMaxLength}}
      </div>
    </div>


    <div class="form-group"
         [class.has-success]="accountForm.get('login_url').valid"
         [class.has-danger]="accountForm.get('login_url').errors && accountForm.get('login_url').touched">

      <label for="login_url" class="form-control-label">登陆位置：</label>
      <input id="login_url" class="form-control form-control-danger" placeholder="eg. http://github.com"
             formControlName="login_url"
             [class.form-control-success]="accountForm.get('login_url').valid"
             [class.form-control-danger]="accountForm.get('login_url').errors && accountForm.get('login_url').touched"
      >
      <div *ngIf="accountForm.get('login_url').hasError('maxlength')"
           class="form-control-feedback">
        限制最大长度{{loginUrlMaxLength}}
      </div>
    </div>

    <div class="form-group">
      <label for="type" class="form-control-label">账户类型：</label>
      <select formControlName="type"
              id="type" class="form-control">
        <option *ngFor="let accountType of accountTypeList" value="{{accountType.pk}}">
          {{accountType.fields.type}}
        </option>
      </select>
    </div>

    <div class="form-group"
         [class.has-success]="accountForm.get('desc').valid"
         [class.has-danger]="accountForm.get('desc').errors && accountForm.get('desc').touched">

      <label for="desc" class="form-control-label">备注：</label>
      <textarea id="desc" class="form-control" placeholder="备注信息用于搜索，快速找到相关账号"
                formControlName="desc"
                [class.form-control-success]="accountForm.get('desc').valid"
                [class.form-control-danger]="accountForm.get('desc').errors && accountForm.get('desc').touched">
      </textarea>
      <div *ngIf="accountForm.get('desc').hasError('maxlength')"
           class="form-control-feedback">
        限制最大长度{{descMaxLength}}
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-success form-control"
          (click)="updateAccount()"
          [disabled]="accountForm.invalid">
    保存->退出
  </button>
</div>
