<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar">
        <span class="navbar-toggler-icon"></span>

      </button>
      <a class="navbar-brand" routerLink="/">Small Project</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="account">Account Manager</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" id="content">
  <router-outlet></router-outlet>
</div>



