<nav class="navbar navbar-light bg-faded navbar-toggleable-sm fixed-top">
  <div class="container">
      <button type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar">
        <span class="navbar-toggler-icon"></span>

      </button>
      <a class="navbar-brand" routerLink="/">Lazy Leopard</a>

    <div class="navbar-collapse" id="navbar">
      <ul class="navbar-nav mt-2 mt-lg-0 col-12" *ngIf="authService.isAuthed">
        <li class="mr-auto">
          <a class="nav-link" routerLink="account" routerLinkActive="active">Account Manager</a>
        </li>
        <li>
          <span class="nav-link">
            Welcome {{authService.user.fields.username}}
          </span>
        </li>
        <li>
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="content">
  <router-outlet></router-outlet>
</div>



