<nav class="navbar navbar-light bg-faded navbar-toggleable-sm fixed-top">
  <div class="container">
      <button type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar">
        <span class="navbar-toggler-icon"></span>

      </button>
      <a class="navbar-brand" routerLink="/">Lazy Leopard</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" *ngIf="authService.isAuthed">
          <a routerLink="account" routerLinkActive="active" class="nav-link">Account Manager</a>
        </li>

      </ul>

      <ul *ngIf="authService.isAuthed" class="navbar-nav">
        <li><a class="nav-link"><span>Welcome{{authService.user.fields.username}}</span></a></li>
        <li >
          <a class="nav-link" (click)="authService.logout()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="content">
  <router-outlet></router-outlet>
</div>



